API_HTTP=http://localhost:6900
WEB_HTTP=http://localhost:6901
WEB_HTTPS=http://localhost:6911
ADMIN_HTTP=http://localhost:6902
ADMIN_HTTPS=https://localhost:6912
MOBILE_LINK=com.akmeczo.votersystem:/
DB_IP=db
DB_ROOT_PASSWORD=root
DB_USER=server_access
DB_PASSWORD=test_password
JWT_KEY=your_jwt_key
JWT_DOMAIN=your_domain
EMAIL_USER=your_email_user
EMAIL_PASSWORD=you_email_password
EMAIL_HOST=your_host
EMAIL_PORT=your_host_port
EMAIL_SSL=[false|true]
EMAIL_FRMO=your_from_mail
SMTP_HOST=your_smtp_host
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
RABBITMQ_DEFAULT_USER=default_user
RABBITMQ_DEFAULT_PASS=default_pass
OAUTH_GOOGLE_CLIENT_ID=your_google_client_id
OAUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret
OAUTH_FACEBOOK_CLIENT_ID=your_fb_client_id
OAUTH_FACEBOOK_CLIENT_SECRET=your_fb_client_secret
REDIS_PASSWORD=redis_password
SAML_ENABLED=[true|false]
SAML_PUBLIC_ORIGIN=https://localhost:6910
SAML_SP_ENTITY_ID=https://localhost:6910/Saml2
SAML_IDP_ENTITY_ID=http://localhost:6941/simplesaml/saml2/idp/metadata.php
SAML_METADATA_URL=http://localhost:6941/simplesaml/saml2/idp/metadata.php
SAML_IDP_SSO=http://localhost:6941/simplesaml/saml2/idp/SSOService.php
SAML_IDP_SLO=http://localhost:6941/simplesaml/saml2/idp/SingleLogoutService.php
SAML_RETURN_URL=https://localhost:6910/api/v1/users/external-callback-saml
SAML_SIGN_REQUESTS=[true|false]
SAML_SIGNING_CERT_BASE64=your_cert_in_base64_format
SAML_SIGNING_CERT_PASSWORD=your_cert_password
ALLOW_DB_PRUNE=[true|false]
